<template>

  <div class="panel" id="tables-section">
    <div class="panel-inner p-b-0">
      <div class="main-content-container">

        <div class="row">
          <div class="col">
            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">Service Providers</h6>
              </div>
              <div class="card-body p-0 pb-3">
                <table class="table mb-0">
                  <thead class="bg-light">
                    <tr>
                      <th scope="col" class="border-0">Featured Image</th>
                      <th scope="col" class="border-0" >Name</th>
                      <th scope="col" class="border-0" >Description</th>
                      <th scope="col" class="border-0" >Address</th>
                      <th scope="col" class="border-0">Contact Details</th>
                      <th scope="col" class="border-0">Timing</th>
                      <th scope="col" class="border-0">Cost Slabs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in items">
                      <td><div class="profile-pic"><d-card-img :src="item.featured_image"/></div></td>
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.address}}</td>
                      <td>{{JSON.parse(item.contact_details).phone_numbers}}</td>
                      <td>{{item.open_time +' | '+ item.close_time}}</td>
                      <td>{{item.cost_slab_first +' | '+ item.cost_slab_Second  + ' | ' + item.cost_slab_third}}</td>
                    </tr>
                  </tbody>

                </table>
                <spinner-loader v-if="loading"></spinner-loader>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    

    <common-methods 

    @get-response="getResponse"

    :url="requestUrl"
    >
  </common-methods>
  


</div>
</template>

<script>
  export default{
    data(){
      return{
        url : 'api/service_providers',
        submit : false,
        loading : false,
        items : []
      }
    },
    mounted (){
    },
    methods : {
      getResponse(response){
        console.log(response  , 213213);

        if(Object.keys(response.data).length){
          for(var i = 0 ; i < response.data.service_providers.data.length; i++){
            this.loading = false;
            this.items.push(response.data.service_providers.data[i]);
          }
        }
      }
    },
    computed : {
      requestUrl(){
        this.loading = true;
        return this.url;
      }
    },
    watch : {
      $route(to, from){
        var newDate = new Date();
        this.url = 'api/service_providers?pagination=true&time='+newDate;

      }
    }
  }
</script>