// Alert Adjustments

// Alternate style for the accent color
.alert-accent {
  color: lighten($accent-color, 48%);
  background-color: $accent-color;

  .alert-link {
    color: lighten($accent-color, 48%);
  }
}

.alert-dismissible .close {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.radius.alert {
    border-radius: 5px;
}

.alert-success{
    padding-left: 44px;
    &:after{
        font-family: 'icomoon';
        content: "\e5ca";
        position: absolute;
        left: 15px;
        font-size: 20px;
        top: 6px;
        color: #fff;
    }
}

.alert-danger{
    @extend .alert-success;
    &:after{
        content: "\e002";
        color: #fff;
    }
}

.dismiss-alert{
    .alert-success, .alert-danger{
        &:after{
            display: none;
        }
    }
}

.transparent-alert{
    .alert-success{
        background-color: transparent;
        border: $alert-success 1px solid;
        color: $alert-success;

        a{
            color: $alert-success;
        }

        &:after{
            color: $alert-success;
        }
    }

    .alert-danger{
        border:1px solid $alert-danger;
        color: $alert-danger;

        a{
            color: $alert-danger;
        }

        &:after{
            color: $alert-danger;
        }
    }
}