.cov-date-body{
    background-color: $primary-color!important;

    .checked{
        background: $secondary-color!important;
    }
}

.cov-vue-date{
    width: 100%;
}

.datepickbox{
    input[type=text]{
        width: 100%!important; 
        border:1px #ddd solid!important;  
    }
}

.cov-date-caption span{
    color: #fff!important;
}