// Custom forms adjustments

.custom-select-sm {
  font-size: $font-size-sm;
  border-radius: $btn-border-radius;
}

.custom-select-lg {
  border-radius: $btn-border-radius;
}

// Adjust the custom control line height.
.custom-control {
  line-height: 1.5rem;
}


// Adjust custom controls disabled states.

// Custom checkboxes
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label {
  &::after {
    border-color: $custom-control-disabled-color;
  }
}

// Custom radios
.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label {
  &::after {
    background: $custom-control-disabled-color;
  }
}

// Custom toggle
.custom-toggle .custom-control-input:checked:disabled ~ .custom-control-label {
  &::after {
    background: $custom-control-disabled-color;
  }
}

// icons input field
.input-icons{
    position: relative;
    overflow: hidden;
    .left-icon{
        input[type=text], input[type=password], input[type=email]{
            padding-left: 40px;
        }
        &.right-seprator{
           span{
                width: 40px;
                height: 44px;
                border-right:1px #d9d9d9 solid;
           }
            input[type=text], input[type=password], input[type=email]{
                padding-left: 50px!important;
            }
        }
        &.left-seprator{
           span{
                width: 40px;
                height: 44px;
                border-left:1px #d9d9d9 solid;
                i{
                    right: 8px;
                }
           }
            input[type=text], input[type=password], input[type=email]{
                padding-right: 50px!important;
            }
        }
        span{
            position: absolute;
            i{
                position: absolute;
                top: 6px;
                font-size: 20px;
                left: 13px;
                color: #abb6bf;
            }
        }
    }
    .right-icon{
        input[type=text], input[type=password], input[type=email]{
            padding-right: 40px;
            padding-left: 12px;
        }
        span{
            right: 0;
            i{
                right: 13px;
                left: auto;
            }
        }
    }
}

.selectize-control{
   .selectize-input {
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #e1e5eb !important;
        font-size: 0.8125rem;
        font-weight: 400;
  }
}
.form-group{
    .time-picker{
        display: block;
        width: 100%;
        input{
            border-radius: 0.25rem;
            width: 100% !important;
        }
    }
}
.selectize-dropdown{
    [data-selectable]{
        &.active{
            background-color: $accent-color;
            background-image: none;
            background-image: none;
            background-repeat: repeat-x;
        }
    }
}

//input basic handling
.form-control,.selectize-control .selectize-input{
    font-size:$input-font-size;
    height:$input-height;
    color:$input-color;
    font-family:$font-regular;
}

.selectize-dropdown [data-selectable].option{
    font-family:$font-regular;
    font-weight:normal;
}

.selectize-dropdown [data-selectable].active{
    background:$greyL;
}
