.charts-height{
    width: 100%;
    height: 320px;
    margin-bottom:40px;
}

.graphs-stats
{
    .stats-small__data{
        margin:0 auto;
        span{
            font-size:$font-size-xs;
            margin:0 auto;
        }
        h6{
            font-size:$font-size-lg;
            font-family:$font-bold;
        }
    }
}
