$notification-font-size:$font-size-sm;

body{
    .notification-wrapper
    {
        &.dropdown-menu{
            .notification__content{
                .notification__category{
                    font-size:$notification-font-size !important;
                }
                p{
                    font-size:$notification-font-size !important;
                }
            }
            .view-all-notification{
                font-size:$notification-font-size !important;
            }
        }
    }
}
