.logo
{
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 1px #ddd;
    img{
        max-width: 164px;
        margin: 0 auto;
    }
}

.main-sidebar{
    .nav-wrapper{
        .nav{
            display: block;
            margin:0;
            padding:0;
            .nav-item{
                .nav-link{
                    display:block;
                }
            }
        }
          &::-webkit-scrollbar-track
            {
                background-color: $body-bg;
                border-radius: 51px;
            }
        &::-webkit-scrollbar
            {
                background-color: $body-bg;
                width: 2px;
                border-radius: 51px;
                height: 6px;
            }

        &::-webkit-scrollbar-thumb
            {
                background-color: #b0b0b0;
                border-radius: 51px;
            }             
    }
}

