.table {
  background-color: transparent;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  td, th{
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;

    .action-icons{
      i{
          padding-right: 8px;
      }
    }
  }

  tr{
    border-bottom: #ddd solid 1px;
  }

  .thead-dark {
    th {
      color: #fff;
      background-color: #212529;
      border-color: #32383e;
    }
  }
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.border-0 {
    border: 0!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem;
}

.text-white {
    color: #fff;
}

.table-dark{
  td, th, thead th{
    border-color: #32383e;

    .profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50px;
    img{
      border-radius: 50px;
    }

}

  }
}

.profile-pic{
  width: 40px;
  height: 40px;

    img{
      border-radius: 0;
    }

}