$time-picker-width:190px;
$time-picker-height:190px;
body{

    .time-picker{
        .dropdown{
            width:$time-picker-width;
            height:$time-picker-height;
            .select-list{
                width:$time-picker-width;
                height:$time-picker-height;
                ul{
                    width:$time-picker-width;
                    height:$time-picker-height;
                    li{
                        &.hint{
                            font-family:$font-bold;
                            color:$text-primary-color;
                            text-transform:uppercase;
                        }
                        &.active,&:hover{
                            background:$primary-color;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
