.main-panel{
	width: calc(100% - 738px) !important; 
}

.admin-main-panel {
	float: right;
	width: calc(100% - 300px) !important;
	clear: both;
	display: block;
	overflow: hidden;
}

.margin-top-10{
	margin-top : 10px;
}

.collapsing .nav-item .nav-link , .collapse .nav-item .nav-link{
	margin-left: 40px !important;
	box-shadow: inset 0.1875rem 0 0 #007bff;
	-webkit-box-show : inset 0.1875rem 0 0 #007bff;
}
