<template>
	
	<div>
		
		<div class="form-group">
			<label class="" for="f2_Email">Upload File</label>
			<fieldset>
				<div class="custom-file w-100">
					<input v-on:change="onFileChange" type="file" class="custom-file-input" id="customFile">
					<label class="custom-file-label" for="customFile">
						Choose file...
					</label>
				</div>
			</fieldset>
		</div>
	</div>


</template>


<script>
	export default{
		props : ['url', 'uploadKey'],
		data(){
			return{
				file : '',
				successMessage : '',
				errorMessages : '',
				loading : false,
				image : '',
				fileUploadKey : ''
			}
		},
		mounted(){
		},
		methods: {
			onFileChange(e) {
				var files = e.target.files || e.dataTransfer.files;

				if (!files.length){
					return;
				}

				this.createImage(files[0]);
				this.file = files[0];
			},
			createImage(file) {
				var image = new Image();
				var reader = new FileReader();
				var vm = this;

				reader.onload = (e) => {
					vm.image = e.target.result;
				};
				reader.readAsDataURL(file);
				this.onUpload(file);
			},
			removeImage: function (e) {
				this.image = '';
			},
			onUpload(file) {
				var self = this;
				let url = "api/file/upload";

				if(this.uploadKey){
					this.fileUploadKey = this.uploadKey;
				}

				var data = new FormData;
				data.append('key', this.fileUploadKey);
				data.append('file', file);

				this.$http.post(url, data).then(response => {
					response = response.data;
					self.$emit('get-response', response);
				}).catch(error => {
					error = error.response.data;
					let errors = error.errors;
					self.isFileUpload = false;
					_.forEach(errors, function(value, key) {
						
						self.errorMessage =  errors[key][0];
						self.$emit('errorMessage', self.errorMessage);
						return false;
					});
				});
			},

		}
	}
</script>
