<template>
    <div class="main-navbar sticky-top bg-white">
        <div class="main-navbar-inner">
            <div class="search-top-field">
            </div>
            <div class="top-right-options">
                <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                    <ul class="navbar-nav border-left flex-row ">
                     
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="user-avatar rounded-circle mr-2">
                                <img src="images/avatars/0.jpg" alt="User Avatar">
                            </span>
                            <span class="d-none d-md-inline-block">{{authUser | fullName}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-small">
                           <a class="dropdown-item" href="user-profile-lite.html">
                               <a @click.prevent="logOut" class="dropdown-item text-danger" href="#">
                                   <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                               </a>
                           </div>
                       </li>
                   </ul>
                   <nav class="nav">
                     <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                         <i class="material-icons">&#xE5D2;</i>
                     </a>
                 </nav>
             </nav>
         </div>
     </div>
     <!-- Main Navbar -->
 </div>
</template>

<script>
    export default{

        data () {
            return {
            }
        },

        mounted (){


        },
        computed :{
            authUser(){
                return this.$store.getters.getAuthUser;
            }
        },

        methods: {
            logOut: function () {
                var this_ = this;
                if(this.$auth.isAuthenticated()){
                    this_.$store.commit('setAuthUser', '');
                    this_.$router.push({ name: 'login'})
                }else{
                    this_.$router.push({ name: 'login'})
                }
            }
        },
    }
</script>

