<template>
    <div class="main-nav">
            <div class="nav-head">
                <!-- <b-navbar-toggle target="nav_collapse"></b-navbar-toggle> -->                
                <div class="float-left">
                    <h2 class="page-title"><i :class="[$route.meta.icon]"></i>{{$route.meta.pagetitle}}</h2>
                </div>
            </div>
</div>
</template>

<script>
import { directive as onClickaway } from 'vue-clickaway';
    export default{
        data () {
          return {
          }
        },
    }
</script>
