<template>
        <div>
            <aside class="main-sidebar">
                <div class="logo" id="main-logo">
                    <img  class="d-inline-block align-top mr-1" src="images/dummy/logo.png" alt="Dashboard">
                </div>
                <div  class="nav-wrapper">
                    <ul class="nav flex-column">
                      <li class="nav-item" v-scroll-to="'#dashboard-section'">
                        <a class="nav-link active" href="index.html">
                          <i class="material-icons">bubble_chart</i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#forms-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">subtitles</i>
                          <span>Forms</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#rating-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">star</i>
                          <span>Rating</span>
                        </a>
                      </li>
                      <li class="nav-item"  v-scroll-to="'#tables-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">developer_board</i>
                          <span>Tables</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#modals-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">edit</i>
                          <span>Modals</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#alerts-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">sim_card_alert</i>
                          <span>Alerts</span>
                        </a>
                      </li>
                      <li class="nav-item"  v-scroll-to="'#selectize-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">radio_button_checked</i>
                          <span>Selectize</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#datepicker-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">date_range</i>
                          <span>Datepicker</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#timepicker-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">access_time</i>
                          <span>Timepicker</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#badges-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">assignment_turned_in</i>
                          <span>Badges</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#breadcrumbs-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">more</i>
                          <span>Breadcrumbs</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#buttons-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">play_circle_filled</i>
                          <span>Buttons</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#progress-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">content_copy</i>
                          <span>Progress</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#tabs-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">edit</i>
                          <span>Tabs</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#cards-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">content_copy</i>
                          <span>Cards</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#pagination-section'">
                        <a class="nav-link " href="index.html">
                          <i class="material-icons">content_copy</i>
                          <span>Pagination</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#navs-section'">
                        <a class="nav-link" href="index.html">
                          <i class="material-icons">bubble_chart</i>
                          <span>Navs</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#tooltip-section'">
                        <a class="nav-link" href="index.html">
                          <i class="material-icons">bubble_chart</i>
                          <span>Tooltip</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#toasted-section'">
                        <a class="nav-link" href="index.html">
                          <i class="material-icons">bubble_chart</i>
                          <span>Toast</span>
                        </a>
                      </li>
                      <li class="nav-item"  @click.prevent="$emit('chat-click-event')">
                        <a class="nav-link" href="javascript:;" >
                          <i class="material-icons">bubble_chart</i>
                          <span>Chat</span>
                        </a>
                      </li>
                      <li class="nav-item" v-scroll-to="'#vue-datepicker-section'">
                        <a class="nav-link" href="index.html" @click="showchatpanel()">
                          <i class="material-icons">bubble_chart</i>
                          <span>Vue Datepicker</span>
                        </a>
                      </li>
                    </ul>
                </div>
            <div>
            </div>
        </aside>
        </div>

</template>

<script>
    export default {
      data () {
        return {
            isShowing:false,
        }
      },
      methods: {
    }
 }
</script>
