<template>
     <div class="panel" id="buttons-section">
        <div class="panel-inner">
           
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Buttons</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
            <div class="section-blocks">
                <h3>Button Themes</h3>
                <d-button>Primary</d-button>
                <d-button theme="secondary">Secondary</d-button>
                <d-button theme="success">Success</d-button>
                <d-button theme="danger">Danger</d-button>
                <d-button theme="link">Default</d-button>
                <br>
                 <p class="view-source margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;d-button&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="success"&gt;Success&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="info"&gt;Info&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="warning"&gt;Warning&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="danger"&gt;Danger&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="light"&gt;Light&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="dark"&gt;Dark&lt;/d-button&gt;</span>
    <span>&lt;d-button theme="link"&gt;Default&lt;/d-button&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Pill Shaped Buttons</h3>
                <d-button pill>Primary</d-button>
                <d-button pill theme="secondary">Secondary</d-button>
                <d-button pill theme="success">Success</d-button>
                <d-button pill theme="danger">Danger</d-button>
                <d-button pill theme="link">Default</d-button>
                <br>
                <p class="view-source margin-bottom-20px" @click="handleClick ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="handleClick">
<code>
    <span>&lt;d-button pill&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="success"&gt;Success&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="info"&gt;Info&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="warning"&gt;Warning&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="danger"&gt;Danger&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="light"&gt;Light&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="dark"&gt;Dark&lt;/d-button&gt;</span>
    <span>&lt;d-button pill theme="link"&gt;Default&lt;/d-button&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Outline Styled Buttons</h3>
                <d-button outline>Primary</d-button>
                <d-button outline theme="secondary">Secondary</d-button>
                <d-button outline theme="success">Success</d-button>
                <d-button outline theme="danger">Danger</d-button>
                <br>
                 <p class="view-source margin-bottom-20px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;d-button outline&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button outline theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
    <span>&lt;d-button outline theme="success"&gt;Success&lt;/d-button&gt;</span>
    <span>&lt;d-button outline theme="danger"&gt;Danger&lt;/d-button&gt;</span>
</code>
</pre>

            </div>
            <div class="section-blocks">
                <h3>Mixed Styles</h3>
                <d-button outline pill>Primary</d-button>
                <d-button outline pill theme="secondary">Secondary</d-button>
                <d-button outline pill theme="success">Success</d-button>
                <d-button outline pill theme="danger">Danger</d-button>
                <br>
                 <p class="view-source margin-bottom-20px" @click="outlineClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="outlineClick">
<code>
    <span>&lt;d-button outline pill&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button outline pill theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
    <span>&lt;d-button outline pill theme="success"&gt;Success&lt;/d-button&gt;</span>
    <span>&lt;d-button outline pill theme="danger"&gt;Danger&lt;/d-button&gt;</span>
</code>
</pre>

            </div>
            <div class="section-blocks">
                <h3>Squared Style</h3>
                <d-button squared>Primary</d-button>
                <d-button squared theme="secondary">Secondary</d-button>
                <d-button squared theme="success">Success</d-button>
                <d-button squared theme="danger">Danger</d-button>
                <br>
                 <p class="view-source margin-bottom-20px" @click="mixedClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="mixedClick">
<code>
    <span>&lt;d-button squared&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button squared theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
    <span>&lt;d-button squared theme="success"&gt;Success&lt;/d-button&gt;</span>
    <span>&lt;d-button squared theme="danger"&gt;Danger&lt;/d-button&gt;</span>
</code>
</pre>
           </div>
           <div class="section-blocks">
                <h3>Button Sizes</h3>
                <d-button size="lg">Large</d-button>
                <d-button>Normal</d-button>
                <d-button size="sm">Small</d-button>
                <br>
                 <p class="view-source margin-bottom-20px" @click="btnClick^= true"><i class="icon-eye"></i> View Source</p>

<pre v-if="btnClick">
<code>
    <span>&lt;d-button size="lg"&gt;Large&lt;/d-button&gt;</span>
    <span>&lt;d-button>Normal&lt;/d-button&gt;</span>
    <span>&lt;d-button size="sm"&gt;Small&lt;/d-button&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Active State</h3>
                <d-button active theme="success">Success Active</d-button>
                <d-button active theme="danger">Danger Active</d-button>
                <br>
               <p class="view-source margin-bottom-20px" @click="activeClick^= true"><i class="icon-eye"></i> View Source</p> 
<pre v-if="activeClick">
<code>
    <span>&lt;d-button active theme="success"&gt;Success Active&lt;/d-button&gt;</span>
    <span>&lt;d-button active theme="danger"&gt;Danger Active&lt;/d-button&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Disabled State</h3>
                <d-button disabled theme="success">Success Disabled</d-button>
                <d-button disabled theme="danger">Danger Disabled</d-button>
                <br>
                <p class="view-source margin-bottom-20px" @click="statusClick^= true"><i class="icon-eye"></i> View Source</p> 
<pre v-if="statusClick">
<code>
    <span>&lt;d-button disabled theme="success"&gt;Success Disabled&lt;/d-button&gt;</span>
    <span>&lt;d-button disabled theme="danger"&gt;Danger Disabled&lt;/d-button&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Block Level Buttons</h3>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <d-button block-level>Primary</d-button>        
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <d-button block-level theme="secondary">Secondary</d-button>
                    </div>
                </div>
                <br>
                <p class="view-source margin-top-0px" @click="blockClick^= true"><i class="icon-eye"></i> View Source</p> 
<pre v-if="blockClick">
<code>
    <span>&lt;d-button block-level&gt;Primary&lt;/d-button&gt;</span>
    <span>&lt;d-button block-level theme="secondary"&gt;Secondary&lt;/d-button&gt;</span>
</code>
</pre>
            </div>

</d-card-body></d-card>

        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        isShowing:false,
        handleClick:false,
        validationClick:false,
        mixedClick:false,
        outlineClick:false,
        btnClick:false,
        activeClick:false,
        statusClick:false,
        blockClick:false,
      }
    },
    methods: {
        handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
        mixedClick() {
            this.isShowing = true
        },
        outlineClick(){
            this.isShowing = true
        },
        btnClick() {
            this.isShowing = true
        },
        activeClick(){
            this.isShowing = true
        },
        statusClick() {
            this.isShowing = true
        },
        blockClick(){
            this.isShowing = true
        },
    }
  }
</script>