<template>
    <div class="main-panel">
        <sidebar @chat-click-event="showChat()" ></sidebar>
        <top-header></top-header>
        <dashboard></dashboard>
        <form-elements-list></form-elements-list>
        <login></login>
        <rating></rating>
        <table-list></table-list>
        <modal></modal>
        <alert></alert>
        <badges></badges>
        <breadcrumbs></breadcrumbs>
        <button-element-list></button-element-list>
        <progressbar></progressbar>
        <tabs></tabs>
        <card></card>
        <pagination></pagination>
        <navs></navs>
        <tooltip v-on:click='isOpen = !isOpen'></tooltip>
        <toasted></toasted>
        <chat-panel @chat-click-event="closeChat()" v-if="chatPanelVal == true"></chat-panel>
        <vue-datepicker></vue-datepicker>
    </div>
</template>

<script>
    export default {
      data () {
        return {
            chatPanelVal: 'false',
        }
      },
      methods:{
        showChat() {
            this.chatPanelVal ^= true;
        },
        closeChat() {
            this.chatPanelVal = false
        }
      }
    }
</script>
