<template>
    <div class="loader-sm">
        <div class="button-loader">
            <div class="loader">Loading...</div>
        </div>
    </div>
</template>


<style>
	


.button-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 4px auto;
  width: 35px;
  height: 35px;
  display: none;
  overflow: hidden;
  margin: 6px auto;
}

.button-loader .spinner {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  opacity: 0.8;
  position: absolute;
  top: 11px;
  left: 0;
  right: -1px;
  margin: 0 auto;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.button-loader .loader,
.button-loader .loader:after {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.button-loader .loader {
  display: block;
  margin: 0px auto;
  background-image: url("/images/spinner-white.svg");
  font-size: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-indent: -9999em;
  /*       border-top: 1.1em solid #fff;
      border-right: 1.1em solid #fff;
      border-bottom: 1.1em solid #fff;
      border-left: 1.1em solid #fff; */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-style: dashed;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-sm .button-loader {
  width: 22px;
  height: 22px;
  margin: 7px auto;
}

.loader-sm .button-loader .loader {
  width: 22px;
  height: 22px;
  font-size: 2px;
}

.loader-sm .button-loader .spinner {
  width: 8px;
  height: 8px;
  top: 7px;
}


.btn.show-spinner {
  pointer-events: none;
  position: relative;
  background: #bdbdbd;
  border-color: #bdbdbd;
}

.btn.show-spinner span {
	color : transparent !important;
}


.btn.show-spinner .button-loader {
  display: block;
}


</style>