<template>
     <div class="panel" id="login">
        <div class="panel-inner p-b-0">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Login</h3>
            </div>
        </div>        	
        <div class="colum-btm-space card">
        <div class="card-body">
	    <div class="inner max-login-wth">
	      <div class="text-center">
	          <h2 class="auth-title">{{formval}}	            
	          </h2>
	      </div>
	      <div class="auth-panel">
	          <!--login-->
				  <div class="login-form auth-forms active" v-show="screenshow == false">
				    <form>
				       <div class="row">
				         <div class="col-xs-12 col-md-12">
				            <div class="form-group">
				              <label>Email Address</label>
				              <input type="email" name="email" class="form-control" placeholder="Enter your email address">
				            </div>
				             </div>
				            <div class="col-xs-12 col-md-12">
				            <div class="form-group">
				              <label>Password</label>
				              <input type="password" name="password" class="form-control" placeholder="Enter your account password">
				            </div>
				         </div>
				         <div class="col-xs-12 col-md-12">
				            <div class="form-group">
				             <a href="javascript:void();" @click="forgot_screen()">
				             	<span class="forgot-password-text">Forgot Password?</span>
				             </a>
				            </div>
				         </div>
				         <div class="col-xs-12 col-md-12">
				            <!-- <button type="button" class="btn btn-primary " @click="onSubmit">
				              <span>Log In</span>
				              
				            </button> -->
				            <d-button size="md" @click.prevent="ShowNewPassword" type="submit">
				            	Log In
				            	<!-- <loader></loader> -->
				        	</d-button>
				         </div>
				       </div>
				    </form>
				  </div>


	          <!--forgot-->
				  <div class="forgot-form auth-forms" v-show="screenshow == true">
				    <form>
			            <div class="form-group">
			              <label>Email Address</label>
			              <input type="email" name="email" class="form-control" placeholder="Enter your email address">
			            </div>				      				      
				      <d-button size="md" @click.prevent="ShowNewPassword" type="submit">Send</d-button>
				      <a class="back-to-login" href="javascript:void(0);" @click="mainscreen">
				      	<span>Back to login</span>
				  	  </a>
				    </form>
				  </div>

	      </div>
	    </div>
</div>
</div>
</div>
</div>

</template>

<script>
    export default {
      data () {
        return {
          formval: 'Welcome to Vue Framework',
          screenshow: false,
          form:{
          	email: '',
          }
        }
/*        seen: true*/
      },
      methods: {
        onSubmit() {       	
        },
    	forgot_screen(){
    		this.screenshow = true;
    	},
    	mainscreen(){
    		this.screenshow = false;
    	},         
      },
    }
</script>