<template>
    <div class="panel" id="modals-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Modal</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
            <div class="section-blocks">
                
                <d-btn @click.native="handleClick">Click Me</d-btn>
                <d-modal v-if="showModal" @close="handleClose">
                    <d-modal-header>
                        <d-modal-title>What is Lorem Ipsum</d-modal-title>
                    </d-modal-header>
                    <d-modal-body>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </d-modal-body>
                    <d-modal-footer>
                         <d-btn theme="primary">Send</d-btn>
                         <d-btn theme="link" @close="handleClose">Close </d-btn>
                     </d-modal-footer>
                </d-modal>
                <br>
                 <p class="view-source margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>

<pre v-if="handleClick">
<code>
    <span>&lt;div&gt;</span>
        <span>&lt;d-btn &commat;click.native="handleClick"&gt;Click Me&lt;/d-btn&gt;</span>
        <span>&lt;d-modal v-if="showModal" &commat;close="handleClose"&gt;&lt;/d-modal&gt;</span>
            <span>&lt;d-modal-header&gt;</span>
                <span>&lt;d-modal-title&gt;What is Lorem Ipsum&lt;/d-modal-title&gt;</span>
            <span>&lt;/d-modal-header&gt;</span>
            <span>&lt;d-modal-body&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley &lt;/d-modal-body&gt;</span>
             <span>&lt;d-modal-footer&gt;</span>
                <span>&lt;d-btn theme="primary"&gt;Send&lt;/d-btn&gt;</span>
                <span>&lt;d-btn theme="link" &commat;close="handleClose"&gt;Close &lt;/d-btn&gt;</span>
            <span>&lt;/d-modal-footer&gt;</span>
        <span>&lt;/d-modal&gt;</span>
    <span>&lt;/div&gt;</span>

    &lt;script&gt;
        export default &lbrace;
                data&lpar;&rpar; &lbrace;
                    return &lbrace;
                    showModal: false&lsquor;
                &rbrace;
            &rbrace;&lsquor;
        methods: &lbrace;
            handleClick&lpar;&rpar; &lbrace;
                this.showModal = true
                &rbrace;&lsquor;
                    handleClose&lpar;&rpar; &lbrace;
                        this.showModal = false
                    &rbrace;
                &rbrace;
            &rbrace;&semi;
    &lt;/script&gt;
        </code>
    </pre>
</div>
    <div class="section-blocks">
         <h3>Modal Size</h3>
                <d-btn @click.native="handleClicks">Click Me</d-btn>
                <d-modal v-if="displayModal" size="lg" @close="handleCloses" :size="modalSize">
                    <d-modal-header>
                        <d-modal-title>What is Lorem Ipsum</d-modal-title>
                    </d-modal-header>
                    <d-modal-body>
                        <div class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </div>
                    </d-modal-body>
                     <d-modal-footer>
                         <d-btn theme="primary">Send</d-btn>
                         <d-btn theme="link" @close="handleCloses">Close </d-btn>
                     </d-modal-footer>
                </d-modal>
                <br>
                <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
    </div>
    <pre v-if="validationClick">
<code>
    <span>&lt;div&gt;</span>
        <span>Modal opened: &lt;span :class="&lsqb;showModal &quest; 'text-success' : 'text-danger'&rsqb;"&gt;&lbrace;<span style="display: none">&sdot;</span>&lbrace; showModal &rbrace;&rbrace;&lt;/span&gt;&lt;/div&gt;</span>
        <span>&lt;d-btn &commat;click.native="handleClick"&gt;Click Me&lt;/d-btn&gt;</span>
        <span>&lt;d-modal v-if="showModal" size="lg" &commat;close="handleClose" :size="modalSize"&gt;&lt;/d-modal&gt;</span>
            <span>&lt;d-modal-header&gt;</span>
                <span>&lt;d-modal-title&gt;What is Lorem Ipsum&lt;/d-modal-title&gt;</span>
            <span>&lt;/d-modal-header&gt;</span>
            <span>&lt;d-modal-body&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley &lt;/d-modal-body&gt;</span>
            <span>&lt;d-modal-footer&gt;</span>
                <span>&lt;d-btn theme="primary"&gt;Send&lt;/d-btn&gt;</span>
                <span>&lt;d-btn theme="link" &commat;close="handleCloses"&gt;Close &lt;/d-btn&gt;</span>
            <span>&lt;/d-modal-footer&gt;</span>
        <span>&lt;/d-modal&gt;</span>
    <span>&lt;/div&gt;</span>

    &lt;script&gt;
        export default &lbrace;
                data&lpar;&rpar; &lbrace;
                    return &lbrace;
                    showModal: false&lsquor;
                    modalSize: 'lg'
                &rbrace;
            &rbrace;&lsquor;
        methods: &lbrace;
            handleClick&lpar;&rpar; &lbrace;
                this.showModal = true
                &rbrace;&lsquor;
                    handleClose&lpar;&rpar; &lbrace;
                        this.showModal = false
                    &rbrace;
                &rbrace;
            &rbrace;&semi;

    &lt;/script&gt;
        </code>
    </pre>
</d-card-body></d-card>

        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showModal: false,
            validationClick:false,
            handleClick:false,
            displayModal:false,
            modalSize: 'lg'
        }
    },
    methods: {
        handleClick() {
            this.showModal = true
        },
        handleClose() {
            this.showModal = false
        },
        handleClicks() {
            this.displayModal = true
        },
        handleCloses() {
            this.displayModal = false
        },

        handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        }
    }
};
</script>
