<template>
    <div class="panel" id="navs-section">
        <div class="panel-inner">
           <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Navs</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
                <div class="section-blocks">
                    <d-nav>
                      <d-nav-item active>Active</d-nav-item>
                      <d-nav-item>Link</d-nav-item>
                      <d-nav-item>Another Link</d-nav-item>
                      <d-nav-item disabled>Disabled</d-nav-item>
                    </d-nav>
                    <br>
                     <p class="view-source margin-top-0px margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;d-nav&gt;</span>
        <span>&lt;d-nav-item active>Active&lt;/d-nav-item&gt;</span>
        <span>&lt;d-nav-item>Link&lt;/d-nav-item&gt;</span>
        <span>&lt;d-nav-item>Another Link&lt;/d-nav-item&gt;</span>
        <span>&lt;d-nav-item disabled>Disabled&lt;/d-nav-item&gt;</span>
    <span>&lt;/d-nav&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Tabs Style</h3>
                <d-nav tabs>
                  <d-nav-item active>Active</d-nav-item>
                  <d-nav-item>Link</d-nav-item>
                  <d-nav-item>Another Link</d-nav-item>
                  <d-nav-item disabled>Disabled</d-nav-item>
                </d-nav>
                <br>
                <p class="view-source margin-top-0px margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="handleClick">
<code>
    <span>&lt;d-nav tabs&gt;</span>
      <span>&lt;d-nav-item active&gt;Active&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item&gt;Link&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item&gt;Another Link&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item disabled&gt;Disabled&lt;/d-nav-item&gt;</span>
    <span>&lt;/d-nav&gt;</span>
</code>
</pre>
            </div>
             <div class="section-blocks pills-navigation">
                <h3>Pill Style</h3>
                <d-nav pills>
                  <d-nav-item active>Active</d-nav-item>
                  <d-nav-item>Link</d-nav-item>
                  <d-nav-item>Another Link</d-nav-item>
                  <d-nav-item disabled>Disabled</d-nav-item>
                </d-nav>
                <br>
                 <p class="view-source margin-top-0px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;d-nav pills&gt;</span>
      <span>&lt;d-nav-item active&gt;Active&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item&gt;Link&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item&gt;Another Link&lt;/d-nav-item&gt;</span>
      <span>&lt;d-nav-item disabled&gt;Disabled&lt;/d-nav-itemg&gt;</span>
    <span>&lt;/d-nav&gt;</span>
</code>
</pre>
            </div>
              </d-card-body>
            </d-card>
        </div>
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker';
    import Selectize from 'vue2-selectize';

    export default {
        data () {
            return {
                isShowing:false,
                handleClick:false,
                validationClick:false,
            }
        },
        methods: {
          handleClick() {
            this.isShowing = true
        },
        validationClick(){
            this.isShowing = true
        },
      }
  }
</script>