<template>
    <div class="panel" id="pagination-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Pagination</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
                <div class="section-blocks">
                  <paginate
                    v-model="page"
                    :page-count="15"
                    :page-range="10"
                    :margin-pages="2"
                    :click-handler="clickCallback"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                  </paginate> 
                  <br>
                  <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;paginate
        v-model="page"
        :page-count="15"
        :page-range="10"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'Prev'"
        :next-text="'Next'"
        :container-class="'pagination'"
        :page-class="'page-item'"&gt;
    &lt;/paginate&gt;</span>
    <span>&lt;script&gt;</span>
        <span>export default {</span>
            <span>data() {</span>
                <span>return {</span>
                    <span>page: 10</span>
                <span>}</span>
            <span>}</span>
        <span>}</span>
    &lt;/script&gt;
</code>
</pre>
                </div>
              </d-card-body></d-card>
        </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
        validationClick:false,
      page: 10,
    }
  },

  methods: {
        validationClick(){
            this.isShowing = true
        },
    }
}
</script>
