<template>
    <div class="panel" id="progress-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Progress Bar</h3>
            </div>
        </div>
        <d-card>
          <d-card-body class="graphs-stats">
            <div class="section-blocks">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <d-progress theme="success" :value="50" :max="250" show-progress />
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <d-progress :value="50" :max="250" show-value />
                    </div>
                    <div class="col-xs-12 col-md-12" style="margin-top: 40px;">
                        <d-progress :value="66.29123" :max="100" :precision="2" show-progress />
                    </div>
                </div>
         </div>

         <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;d-progress theme="success" :value="50" :max="250" show-progress /&gt;</span>
    <span>&lt;d-progress :value="50" :max="250" show-value /&gt;</span>
    <span>&lt;d-progress :value="66.29123" :max="100" :precision="2" show-progress /&gt;</span>
</code>
</pre>
     </d-card-body>
 </d-card>
</div>
</div>
</template>

<script>
    export default {
  data () {
    return {
        validationClick:false,
    }
  },

  methods: {
        validationClick(){
            this.isShowing = true
        },
    }
}
</script>