<template>
     <div class="panel" id="tabs-section">
        <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Tabs</h3>
              </div>
            </div>
            <d-card>
              <d-card-body>
            <div class="section-blocks">
                <h3>Basic Demo</h3>
                <d-tabs>
                    <d-tab title="Tab 1" active>
                        <div class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.</div>
                    </d-tab>
                    <d-tab title="Tab 2">
                        <div class="p-3">Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.</div>
                    </d-tab>
                </d-tabs>

                <p class="view-source margin-top-0px margin-bottom-20px" @click="isShowing ^= true"><i class="icon-eye"></i> View Source</p>
<pre v-show="isShowing">
<code>
    <span>&lt;d-tabs&gt;</span>
        <span>&lt;d-tab title="Tab 1" active&gt;</span>
            <span>&lt;div class="p-3"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.&lt;/div&gt;</span>
        <span>&lt;/d-tab&gt;</span>
        <span>&lt;d-tab title="Tab 2"&gt;</span>
            <span>&lt;div class="p-3"&gt;Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.&lt;/div&gt;</span>
        <span>&lt;/d-tab&gt;</span>
    <span>&lt;/d-tabs&gt;</span>
</code>
</pre>
            </div>
             <div class="section-blocks">
                <h3>Pills</h3>
                <d-card>
                    <d-tabs card pills>
                        <d-tab title="Tab 1" active>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
                        </d-tab>
                        <d-tab title="Tab 2">
                            Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
                        </d-tab>
                    </d-tabs>
                </d-card>

                 <p class="view-source margin-bottom-20px" @click="handleClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="handleClick">
<code>
    <span>&lt;d-tabs card pills&gt;</span>
        <span>&lt;d-tab title="Tab 1" active&gt;</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
        <span>&lt;/d-tab&gt;</span>
        <span>&lt;d-tab title="Tab 2"&gt;</span>
            Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
        <span>&lt;/d-tab&gt;</span>
        <span>&lt;/d-tabs&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>
            </div>
            <div class="section-blocks">
                <h3>Vertical Tabs</h3>
                <d-card>
                    <d-tabs card pills vertical>
                        <d-tab title="Tab 1" active>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
                        </d-tab>
                        <d-tab title="Tab 2">
                            Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
                        </d-tab>
                    </d-tabs>
                </d-card>

                <p class="view-source margin-bottom-20px" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="validationClick">
<code>
    <span>&lt;d-card&gt;</span>
        <span>&lt;d-tabs card pills vertical&gt;</span>
            <span>&lt;d-tab title="Tab 1" active&gt;</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
            <span>&lt;/d-tab&gt;</span>
            <span>&lt;d-tab title="Tab 2"&gt;</span>
                Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
            <span>&lt;/d-tab&gt;</span>
        <span>&lt;/d-tabs&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>
            </div>
             <div class="section-blocks">
                <h3>Disabled Tab Controls</h3>
                <d-card>
                    <d-tabs card pills vertical>
                        <d-tab title="Tab 1" active>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
                        </d-tab>
                        <d-tab title="Disabled" disabled>
                            Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
                        </d-tab>
                    </d-tabs>
                </d-card>

                 <p class="view-source margin-bottom-20px" @click="outlineClick^= true"><i class="icon-eye"></i> View Source</p>
<pre v-if="outlineClick">
<code>
    <span>&lt;d-card&gt;</span>
        <span>&lt;d-tabs card pills vertical&gt;</span>
            <span>&lt;d-tab title="Tab 1" active&gt;</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur eros tellus. Fusce mollis felis a lorem euismod sollicitudin. Maecenas et porttitor mauris.
            <span>&lt;/d-tab&gt;</span>
            <span>&lt;d-tab title="Disabled" disabled&gt;</span>
                Sed at lacus efficitur, imperdiet purus et, pretium arcu. Mauris vulputate, libero in dignissim auctor, nunc tortor interdum elit, ac dignissim ex enim vitae diam.
            <span>&lt;/d-tab&gt;</span>
        <span>&lt;/d-tabs&gt;</span>
    <span>&lt;/d-card&gt;</span>
</code>
</pre>

            </div>
        </d-card-body></d-card>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                isShowing:false,
                handleClick:false,
                validationClick:false,
                mixedClick:false,
                outlineClick:false,
            }
        },
        methods: {
            handleClick() {
                this.isShowing = true
            },
            validationClick(){
                this.isShowing = true
            },
            mixedClick() {
                this.isShowing = true
            },
            outlineClick(){
                this.isShowing = true
            },
      }
  }
</script>