<template>
    <div class="panel" id="toasted-section">
    <div class="panel-inner">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-left text-sm-left mb-0">
                <h3 class="page-title">Toast</h3>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                  <button class="waves-effect waves-light btn btn-primary" @click="toast()">Launch Toast</button>
                  <br>
                   <p class="view-source" @click="validationClick^= true"><i class="icon-eye"></i> View Source</p>
            </div>
        </div>

<pre v-if="validationClick">
<code>
    <span>&lt;button class="waves-effect waves-light btn btn-primary" &commet;click="toast()"&gt;Launch Toast&lt;/button&gt;</span>

    <span>&lt;script&gt;</span>
        <span>export default {</span>
            <span>methods: {</span>
                <span>toast(){</span>
                <span>this.$toasted.show('hello World').goAway(1500);</span>
            <span>},</span>
        <span>}</span>
    <span>}</span>
    <span>&lt;/script&gt;</span>
</code>
</pre>
  </div>
</div>
</template>

<script>
  export default {
    data() {
        return {
            validationClick:false,
        }
    },
    methods: {

      toast(){
        this.$toasted.show('hello World').goAway(1500);
    },

      validationClick(){
            this.isShowing = true
        },
}
}
</script>
