$main-wrapper-width:calc(100% - 300px);
$main-panel-width:100%;
$main-panel-bg:transparent;
$main-panel-inner-padding:25px;
.main-panel{
    float: right;
    width:$main-wrapper-width;
    clear:both;
    display:block;
    overflow:hidden;
}

.panel{
    float: right;
    width:$main-panel-width;
    background:$main-panel-bg;

    .panel-inner{
      width:100%;
      height:auto;
      padding:$main-panel-inner-padding;
    }
}
